#root {
  min-height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  flex: 1;
}

footer {
  min-inline-size: 10vh;
  background-color: aquamarine;
  margin-top: auto;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 120px;
  background-color: gray;
}